*{
  margin: 0;
  padding: 0;
}

.container{
  width: 1170px;
  margin: 50px auto;
  text-align: center;
}

.container h1{
  font-size: 60px;
}

.container p{
  font-size: 16px;
  font-family: sans-serif;
  line-height: 26px;
}

#scrollBtn{
  width: 50px;
  height: 50px;
  background: #000;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
  cursor: pointer;
}

#scrollBtn i{
  color: #fff;
  font-size: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}